# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Schedule Email

on:
  schedule:
    - cron: "0 2 * * *"
    - cron: '5 0 * * 1-5' #At 01:00 on every day-of-week from Monday through Friday.
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch: 
  
env:
  USER_EMAIL: ${{ secrets.USER_EMAIL }}
  USER_EMAIL_PASSWORD: ${{ secrets.USER_EMAIL_PASSWORD }}
  MAIL_FROM: ${{ secrets.MAIL_FROM }}
  MAIL_TO: ${{ secrets.MAIL_TO }}
  API_KEY: ${{ secrets.API_KEY }}
  GOLD_PRICE_URL: ${{secrets.GOLD_PRICE_URL}}

jobs:
  report:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18' # Specify your desired Node.js version
        # node-version: lts/*
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    - name: Install dependencies
      run: npm ci


    - name: Run Send Email
      continue-on-error: true
      run: npm run server
    # - run: node src/main.js
